<!DOCTYPE html>
<html lang="en">
<style>
#map_canvas { height: 100% }
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles.css">

    <!--Icons-->
    <script src="../static/lumino.glyphs.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>BOOST</span></a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                            <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                            <li><a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>             
        </div><!-- /.container-fluid -->
    </nav>
    {% block content %}
    {% endblock %}
    <script src="../static/jquery-1.11.1.min.js"></script>
	<script src="../static/bootstrap.min.js"></script>
	<script src="../static/chart.min.js"></script>
    <script src="../static/chart-data.js"></script>
	<script src="../static/easypiechart.js"></script>
	<script src="../static/easypiechart-data.js"></script>
	<script src="../static/bootstrap-datepicker.js"></script>
    <script src="../static/bootstrap-table.js"></script>
	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
        $(function () {
            $('#hover, #striped, #condensed').click(function () {
                var classes = 'table';
    
                if ($('#hover').prop('checked')) {
                    classes += ' table-hover';
                }
                if ($('#condensed').prop('checked')) {
                    classes += ' table-condensed';
                }
                $('#table-style').bootstrapTable('destroy')
                    .bootstrapTable({
                        classes: classes,
                        striped: $('#striped').prop('checked')
                    });
            });
        });
    
        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];
    
            if (index % 2 === 0 && index / 2 < classes.length) {
                return {
                    classes: classes[index / 2]
                };
            }
            return {};
        }
        
	</script>	
    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAEOBT0dXiMh1C7GxowrvbZiJpEk_RDEGU&sensor=false">
    </script>
     
    <script type="text/javascript">
 
function initialize() 
{
     
    var myOptions = {center: new google.maps.LatLng(38.4686, -123.0028),
         zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
     
    var lat = 38.4686;
    var long = -123.0028;
            marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, long),
                    map: map
                    });
             
}  
initialize()
console.log("got here")
    </script>   
</body>
</html>
