{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
	<div class="col-sm-12 col-lg-12 main">
        <div class="row">
            <div class="col-md-3" style="background-color:#111B40;color:white;">
                <h3 style="color:white;">Michael's Cofee</h1>
            </div>
            <div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h5>Silver Status</h5>
						<div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span>
						</div>
					</div>
				</div>
            </div>
            <div class="col-md-3" style="background-color:#1F3173;">
                <h3 style="color:white;">Jordan's Bagels</h1>
            </div>
            <div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h5>Gold Status</h5>
						<div class="easypiechart" id="easypiechart-orange" data-percent="54" ><span class="percent">54%</span>
						</div>
					</div>
				</div>
            </div>
            <div class="col-md-3" style="background-color:#304CB2;color:white;">
                <h3 style="color:white;">Agnieszka's Hot Dogs</h1>
            </div>
            <div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h5>Platinum Status</h5>
						<div class="easypiechart" id="easypiechart-teal" data-percent="87" ><span class="percent">87%</span>
						</div>
					</div>
				</div>
            </div>
        </div><!--/.row-->
    </div>
</div>
{% endblock %}

		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Orders</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Loyalty Members</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Customers</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">

			</div>
		</div><!--/.row-->