{% extends "base.html" %}
{% block content %}
	<div class="col-sm-12 col-lg-12 main">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Latest Transactions</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td data-field="id">ID</th>
                                <td data-field="name">First Name</th>
                                <td data-field="customersince">Last Name</th>
                                <td data-field="price">Amount</th>
                            </tr>
                            </thead>
                            {% if transactions %}   
                                {% for transaction in transactions %}
                            <tr>
                                <td data-field="id" width=20%>{{ transaction.id }}</th>
                                <td data-field="name" width=20%>{{ transaction.first_name }}</th>
                                <td data-field="customersince" width=20%>{{ transaction.last_name }}</th>
                                <td data-field="price" width=20%>${{ transaction.amount }}</th>
                            </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

    </div>
{% endblock %}